#cp-home-hero {
  .hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 80px;

    .section__title {
      max-width: 764px;
      font-size: 36px;
    }
  }
}