// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к подвалу сайта
// -----------------------------------------------------------------------------

#footer {
}

.footer {
  position: relative;
  height: 210px;
  background-color: $palette-grey;

  &__text {
    padding-top: 100px;
  }

  .running-line {
    top: 0;
    bottom: auto;
  }
}
