// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------

#header {


}

.header {
  background-image: url('../assets/images/global/bg.webp');

  &__wrapper {
    min-height: 700px;
    background-image: url('../assets/images/global/header.webp');
  }

  &__info {
    width: 544px;
    margin-left: 187px;
    padding-top: 26px;
  }

  &__title {
    padding-top: 62px;
    font-size: 60px;
    font-family: $font-title;
    text-transform: uppercase;

    span {
      display: inline-block;
      text-align: center;
    }
  }

  &__text {
    padding-top: 24px;
    font-size: 18px;
    text-align: center;
  }

  &__action {
    display: flex;
    gap: 16px;
    padding-top: 40px;
  }



}