// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------

#header {
}

.header {
  @include mq($until: desktop) {
    background-position:
      bottom 60px right -120px,
      top left;
    background-size: cover, contain;
  }
  @include mq($until: laptop) {
    background-position:
      bottom 60px right -130px,
      top left;
    background-size:
      120% 700px,
      contain;
  }
  @include mq($until: notebook) {
    background-size:
      120% 640px,
      contain;
  }
  @include mq($until: tablet) {
    background-position:
      bottom 60px right -50px,
      top left;
    background-size: contain, contain;
  }
  @include mq($until: mobile) {
    background-image: url("../assets/images/global/header-mobile.webp"), url("../assets/images/global/bg.webp");

    background-position:
      bottom 40px right,
      top left;
    background-size: 100% 380px, contain;
  }

  position: relative;
  background-image: url("../assets/images/global/header.webp"), url("../assets/images/global/bg.webp");
  background-position:
    bottom 60px center,
    top left;
  background-size: contain, contain;
  background-repeat: no-repeat, repeat;

  &__wrapper {
    @include mq($until: desktop) {
      background-position: bottom 60px right -100px;
    }
    @include mq($until: notebook) {
      min-height: 700px;
    }
    @include mq($until: tablet) {
      min-height: 810px;
    }

    min-height: 760px;
  }

  &__info {
    @include mq($until: desktop) {
      margin-left: 0;
    }
    @include mq($until: laptop) {
      max-width: 460px;
    }
    @include mq($until: notebook) {
      max-width: 400px;
    }
    @include mq($until: tablet) {
      max-width: 100%;
    }

    width: 544px;
    margin-left: 187px;
    padding-top: 26px;
  }

  &__title {
    @include mq($until: laptop) {
      padding-top: 50px;
      font-size: 50px;
    }
    @include mq($until: notebook) {
      padding-top: 40px;
      font-size: 44px;
    }
    @include mq($until: mobile) {
      font-size: 36px;
    }

    padding-top: 62px;
    font-size: 60px;
    font-family: $font-title;
    text-transform: uppercase;

    span {
      display: inline-block;
      text-align: center;
    }
  }

  &__text {
    padding-top: 24px;
    font-size: 18px;
    text-align: center;
  }

  &__action {
    @include mq($until: tablet) {
      flex-direction: column;
      align-items: center;
    }

    display: flex;
    gap: 16px;
    padding-top: 40px;

    br {
      @include mq($until: tablet) {
        display: none;
      }
    }
  }
}
