// -----------------------------------------------------------------------------
// В этом файле прописываются общие стили для всех секций сайта
// -----------------------------------------------------------------------------

.section {
  &__header {

  }

  &__title {
    font-size: 36px;
    font-family: $font-title;
    text-transform: uppercase;

    span {
      color: $color-text__red;
      font-weight: 700;
    }

  }
}
