// -----------------------------------------------------------------------------
// В этом файле прописываются общие стили для всех секций сайта
// -----------------------------------------------------------------------------

.section {
  &__header {
  }

  &__title {
    @include mq($until: tablet) {
      font-size: 36px;
    }

    font-size: 54px;
    font-family: $font-title;
    text-transform: uppercase;

    span {
      color: $color-text__red;
      font-weight: 700;
    }
  }
}
