/*
-----------------------------------------------------------------------------
В этом файле подключаются шрифты через миксин font-face,
И задаются основные настройки типографики всего сайта
-----------------------------------------------------------------------------
*/

// @include font-face("GolosText", "~@assets/fonts/GolosText/GolosText-Light", 300);
@include font-face("GolosText", "~@assets/fonts/GolosText/GolosText-Regular", 400);
@include font-face("GolosText", "~@assets/fonts/GolosText/GolosText-Medium", 500);
@include font-face("GolosText", "~@assets/fonts/GolosText/GolosText-Bold", 700);

@include font-face("Merriweather", "~@assets/fonts/Merriweather/Merriweather-Light", 300);
@include font-face("Merriweather", "~@assets/fonts/Merriweather/Merriweather-Regular", 400);
@include font-face("Merriweather", "~@assets/fonts/Merriweather/Merriweather-Bold", 700);

$font-default: "GolosText", sans-serif; // Семейство по умолчанию
$font-title: "Merriweather", sans-serif; // Заголовки

body {
  color: $color-text__primary;

  font-weight: $weight-Regular;
  font-size: var(--font-text-regular);
  font-family: $font-default;

  line-height: var(--line-height-text);
}

h1,
h2,
h3,
h4,
h5 {
  line-height: var(--line-height-title);
}