<header id="header" class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="header__info">
        <div class="header__logo">
          <a href="#" class="logo">
            <img src="./assets/images/global/logo.png" alt="logo">
          </a>
        </div>
        <!-- /.header__logo -->
        <div class="header__title">
          Превратите<br>
          уездный город<br>
          <span>в столицу<br>
            земного шара</span>
        </div>
        <!-- /.header__title -->
        <div class="header__text">
          Оплатите взнос на телеграммы для организации Международного васюкинского турнира по шахматам
        </div>

        <div class="header__action">
          <a href="#" class="button button-primary">Поддержать <br>шахматную мысль</a>
          <a href="#" class="button button-primary button-primary--transparent">Подробнее <br>о турнире</a>
        </div>
        <!-- /.header__action -->
      </div>
      <!-- /.header__info -->

      <include src="layout/block/running-line.html"></include>
    </div>
    <!-- /.header__wrapper -->
  </div>
  <!-- /.container -->
</header>