.button-secondary {
  width: 113px;
  height: 35px;
  padding: 0;
  border: 1px solid $palette_blue;
  color: $color-text__blue;

  &:hover {
    background-color: $palette_blue;
    color: $color-text__white;
  }
}
