.button-secondary {
  @include mq($until: notebook) {
    width: 113px;
    height: 35px;
  }
  @include mq($until: tablet) {
    width: 113px;
    height: 35px;
  }

  width: 113px;
  height: 35px;
  padding: 0;
  border: 1px solid $palette_blue;
  color: $color-text__blue;

  &:hover {
    background-color: $palette_blue;
    color: $color-text__white;
  }
}
